#baile-municipal {
    scroll-margin-top: 100px;
    margin-top: 100px;
    background: url("../public/ONDASVERMELHO.png");
}

.foto-noticia {
    width: 350px;
    border-radius: 10px;
    margin: auto;
}

@media screen and (max-width: 400px) {
    .foto-noticia {
        width: 80%;
        border-radius: 10px;
        margin: auto;
    }
}

.divisoria-baile {
    width: 20rem;
    height: auto;
}

.baile-marca {
    width: 90%;
    max-width: 25rem;
    height: auto;
}

.baile-atracoes {
    width: 100%;
}

.baile-valor {
    color: var(--cor-amarelo);
    font-size: 1.2rem;
}

.baile-list {
    color: white;
    font-family: var(--fonte-apoio);
    font-size: 1.2rem;
    text-align: center;
    list-style: none;
}

@media screen and (min-width: 900px) {
    .baile-atracoes {
        width: 70%;       
    }
}