#baile-municipal {
    scroll-margin-top: 100px;
    margin-top: 100px;
    background: url("/BGROXOESC.png") no-repeat center center;
    background-size: cover;
}

.container-textobaile, .container-ingresso {
    text-align: center;
    border-radius: 20px;
    position: relative;
    padding: 1rem 2rem 2rem;
    background-color: rgba(124, 0, 196, 0.85);
    border: 4px solid #8900b9;
    max-width: 1200px;
    margin: 20px auto;
}

.container-ingresso {
    background-image: none;
}

.foto-noticia {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
}

@media screen and (max-width: 400px) {
    .foto-noticia {
        width: 80%;
    }
}

.divisoria-baile {
    width: 100%;
    max-width: 20rem;
}

.tema-baile {
    width: 100%;
    max-width: 30rem;
}

.baile-marca {
    width: auto;
    max-width: 25rem;
}

.baile-atracoes {
    width: 100%;
    max-width: 900px;
}

.baile-valor {
    color: var(--cor-amarelo);
    font-size: 1.2rem;
}

.baile-list {
    color: white;
    font-family: var(--fonte-apoio);
    font-size: 1.2rem;
    text-align: center;
    list-style: none;
    padding: 0;
}

.m-text-titulo {
    font-size: 2.5rem;
    color: white;
    font-family: var(--fonte-principal);
    text-align: center;
    margin-bottom: 1rem;
}

.container-fotobaile {
    margin-top: 0px;
    width: 100%;
    max-width: 20rem;
    z-index: 10;
    filter: drop-shadow(0px 0px 3px black);
}

@media screen and (max-width: 900px) {
    .baile-atracoes {
        width: 90%;
    }
}
