#baile-municipal {
    scroll-margin-top: 100px;
    margin-top: 100px;
    background: url("../public/BGROXO.png");
    
}

.container-textobaile {
    text-align: center; /* Alinha o texto ao centro */
    border-radius: 20px;
    position: relative;
    top: -8rem;
    padding: 7rem 2rem 1rem 2rem;
    background-color: rgba(124, 0, 196, 0.8);
    border: black 4px solid;
    max-width: 1200px; /* Limita a largura máxima do container */
    margin: 0 auto; /* Centraliza o container na tela */
}

.foto-noticia {
    width: 350px;
    border-radius: 10px;
    margin: auto;
}

@media screen and (max-width: 400px) {
    .foto-noticia {
        width: 80%;
        border-radius: 10px;
        margin: auto;
    }
}

.divisoria-baile {
    width: 20rem;
    height: auto;
}

.baile-marca {
    width: 90%;
    max-width: 25rem;
    height: auto;
}

.baile-atracoes {
    width: 100%;
}

.baile-valor {
    color: var(--cor-amarelo);
    font-size: 1.2rem;
}

.baile-list {
    color: white;
    font-family: var(--fonte-apoio);
    font-size: 1.2rem;
    text-align: center;
    list-style: none;
}

@media screen and (min-width: 900px) {
    .baile-atracoes {
        width: 70%;       
    }
}