.card {
  width: 16rem;
  height: 12.5rem;
  border-radius: 2;
  background: #f5821f;
  border-color: #e86c00 !important;
}

.card.bloco {
  width: 16rem;
  height: 12.5rem;
  border-radius: 2;
  background:#004fff;
  border-color: white !important;
}

.card.palco {
  width: 18rem;
  height: auto;
}

.card-cidade.palco {
  width: 18rem;
  height: auto;
}


.container-categoria {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 6rem;
  height: 2rem;
  background-color: #ffffff;
  z-index: 1000;
  border-bottom-left-radius: 50px;
}

.container-categoriabloco {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 6rem;
  height: 2rem;
  background-color: #ed1a3b;
  z-index: 1000;
  border-bottom-left-radius: 50px;
}

.categoria {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: var(--fonte-apoio);
  color: var(--cor-roxa);
}

.categoria.palco {
  color: #004fff;
  text-align: right;
}

.categoria.bloco {
  color: rgb(255, 255, 255);
  text-align: right;
}

.card-title {
  margin-bottom: 2rem;
  color: whi;
  font-family: var(--fonte-apoio);
  text-transform: uppercase;
}

.card-title.palco {
  margin: 0.5rem 0;
  color: var(--cor-branco);
}

.card-title.cidade {
  margin: 0.5rem 0;
  color: var(--cor-branco);
}

.card-title.bloco {
  margin: 0.5rem 0;
  color: var(--cor-branco);
}

.card-horario {
  color: white;
  background-color: #004fff;
  padding: 0 1rem;
  border-bottom-right-radius: 50px;
}


.horario {
  color: #ed1a3b;
}


.dia {
  color: whitesmoke;
  font-family: var(--fonte-principal);
}



.dia.bloco {
  color: rgb(255, 255, 255);
  font-family: var(--fonte-principal);
}

.card-subtitle {
  font-family: var(--fonte-apoio);
  color: white;
}

.card-subtitle a {
  color: white;
}

.container-card {
  margin-bottom: 4rem;
  margin-top: 1rem;
}
