#faq {
    margin-top: 100px;
    background: url("../public/PADRÃOVERMELHO.png");
    background-position: center;
    background-repeat: repeat; 
  }

  .accordion-button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5) !important; 
   color: white !important;
   background-color: #a700ff !important;
   font-family: var(--fonte-principal);
   border-radius: 2px !important; 
   border: 2px solid #ffffff !important; 
 }
 
 
 .accordion-button:after {
   background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
 }

 .accordion-body {
    font-family: var(--fonte-apoio);
    background-color: var(--cor-amarela);
  }

 