.m-footer {
  background-color: white;
  margin-top: 30px;
}

.m-titulo-informacoes {
  font-family: var(--fonte-principal);
  color: #068f92;
  font-size: 1rem;
}

.m-titulo-informacoes::after {
  content: "";
  margin-top: 1rem;
  display: block;
  width: 30px;
  height: 1px;
  background-color: #068f92;
}

.m-texto-informacoes {
  color: #068f92;
  font-family: var(--fonte-apoio);
  font-size: 0.8rem;
}

.m-container-barras {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.m-barra-colorida {
  width: 25%;
  height: 4px;
}

.m-barra-colorida:nth-child(1) {
  background-color: var(--cor-vermelho);
}

.m-barra-colorida:nth-child(2) {
  background-color: var(--cor-azul-escuro);
}

.m-barra-colorida:nth-child(3) {
  background-color: var(--cor-laranja);
}

.m-barra-colorida:nth-child(4) {
  background-color: var(--cor-verde);
}

.m-texto-copy {
  color: var(--cor-verde-escuro);
  margin-bottom: 0;
  padding: 0.5rem;
  font-size: 0.8rem;
}

@media (max-width: 575px) {
  .divisoria-overlap {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: -2vw;
    margin-top: -2vw;
  }

  .divisoria-overlap img {
    width: 100%;
    height: 2rem;
    display: block;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3));
  }
}
