.hero-homenageado-card {
  margin-top: 80px;
  background-color: #f5821f;
  border-radius: 28px;
  padding: 140px 30px 20px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.7),
    inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  margin-bottom: 30px;
}

.hero-homenageado-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.hero-homenageado-foto {
  position: absolute;
  margin-top: 2vw;
  top: -8vw;
  width: 260px;
  height: auto;
  aspect-ratio: 3 / 4;
  background-image: url("../public/mileidefoto.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
}

.hero-homenageado-texto {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-homenageado-texto .texto-artista {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: justify;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  font-family: var(--fonte-apoio);
  color: black;
}

@media (max-width: 991px) {
  .hero-homenageado-card {
    padding: 120px 20px 20px;
    margin-top: 130px;
  }

  .hero-homenageado-foto {
    width: 250px;
    top: -12vw;
  }
}
