.bg-hero {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  
}

.bg-hero-marca {
  width: 30rem;
  height: auto;
  position: absolute;
  filter: drop-shadow(0px 0px 3px black);
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 100px));
}

.papangu {
  width: 25rem;
  height: 10rem;
  background-image: url("../public/marcavazada.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 0px 3px black);
}

.logog {
  width: 25rem;
  height: 10rem;
  background-image: url("../public/logo-grande.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 0px 3px black);
}

.logo-baile {
  width: 30rem;
  height: 10rem;
  background-image: url("../public/marcabaile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 0px 3px black);
}

.m-btn-historia {
  padding: 1rem 1.5rem;
  color: white;
  text-decoration: none;
  border-radius: 40px;
  border: 2px solid rgb(255, 255, 255); /* Define a cor, a espessura e o estilo da borda */
  filter: drop-shadow(0px 0px 3px black);
}

.m-btn-historia:hover {
  color: rgb(255, 255, 255);
  transition: 0.5s;
  background-color:  #ed1a3b;
}

.m-btn-baile {
  padding: 1rem 1.5rem;
  color: white;
  text-decoration: none;
  border-radius: 40px;
  border: 2px solid rgb(255, 255, 255); /* Define a cor, a espessura e o estilo da borda */
  filter: drop-shadow(0px 0px 3px black);
}

.m-btn-baile:hover {
  color: white;
  transition: 0.5s;
  background-color: #ed1a3b;
}


.m-titulo-secao {
  color: white;
  font-family: var(--fonte-principal);
  font-size: 2.5rem;
}

.m-titulo-secao-linha {
  display: inline-block;
  padding: 15px 25px;
  color: white;
  font-family: var(--fonte-principal);
  font-size: 2.5rem;
  /* background-image: url("../public/placa-madeira.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  max-width: 500px;
  filter: drop-shadow(0px 0px 3px black); */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.m-titulo-secao-maior {
  display: inline-block;
  padding: 15px 25px;
  color: white;
  font-family: var(--fonte-principal);
  font-size: 2.5rem;
  /* background-image: url("../public/placa-madeira.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  max-width: 500px;
  filter: drop-shadow(0px 0px 3px black); */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.m-titulo-secao-menor {
  display: none;
  padding: 15px 25px;
  color: white;
  font-family: var(--fonte-principal);
  font-size: 2.5rem;
  /* background-image: url("../public/placa-madeira.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  max-width: 500px;
  filter: drop-shadow(0px 0px 3px black); */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.m-apresentacao-texto {
  font-size: 1.2rem;
  font-family: var(--fonte-apoio);
  line-height: 1.5rem;
  text-align: justify;
}

.m-apresentacao-botao {
  font-size: 1.2rem;
  font-family: var(--fonte-apoio);
  line-height: 1.5rem;
  text-align: justify;
}

.m-baile-texto {
  font-size: 1.2rem;
  font-family: var(--fonte-apoio);
  line-height: 1.5rem;
  text-align: justify;
}

.arrow-down {
  border: none;
  background: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.container-video {
  width: 100%;
  height: 90vh;
}

.m-btn-play-video {
  border: none;
  background: none;
}

.m-btn-play-video:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.m-iframe-video {
  visibility: hidden;
  width: 100%;
  height: 100%;
}




.m-button-programacao {
  font-family: var(--fonte-apoio);
  color: var(--cor-cinza-escuro);
  background: var(--cor-branco) !important;
  border-radius: 0 !important;
}

.m-button-programacao:hover {
  color: var(--cor-branco);
  background: #f5821f  !important;
  border: 1px solid white;
}

.m-button-programacao.active {
  background:#e86c00 !important;
}

.m-button-programacaobloco {
  font-family: var(--fonte-apoio);
  color: var(--cor-cinza-escuro);
  background: var(--cor-branco) !important;
  border-radius: 0 !important;
}

.m-button-programacaobloco:hover {
  color: var(--cor-branco);
  background: #0092ff !important;
  border: 1px solid white;
}

.m-button-programacaobloco.active {
  background:#1f6dff !important;
}


.active {
  color: var(--cor-branco) !important;
}

.palcos.active {
  color: var(--cor-branco) !important;
}

.nav-tabs {
  border: none !important;
}

.m-titulo-programacaotxt {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: var(--fonte-principal);
}

.m-titulo-programacao {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-family: var(--fonte-principal);
  margin-top: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center; /*
  background-image: url("../public/placa-madeira.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24rem;
  max-width: 500px;
  filter: drop-shadow(0px 0px 3px black) */
  
}

.m-container-palcos-serra,
.m-container-palcos-cidade {
  scroll-margin-top: 100px;
  width: 100%;
  background-position: center;
  background-repeat: repeat;
}

.m-container-palcos-serra {
  background-image: url("../public/PADRAOAZUL.png");
  background-size: 100%;
  background-repeat: repeat; 
  background-position: center;
}

.m-container-palcos-cidade {
  scroll-margin-top: 100px;
  background-image: url("../public/ONDASLARANJA.jpg");
  background-size: 100%;
  background-repeat: no-repeat; 
  background-position: center;
}

.m-container-mapa {
  height: 100vh;
  width: 100%;
}

.button-container {
  display: flex; 
  gap: 10px;
}


#hero {
  height: calc(100vh - 100px);
}

#apresentacao {
  scroll-margin-top: 100px;
  background: url("../public/ONDASAZUL.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: repeat;
}

#baile {
  background-image: url("../public/BGROXOESC.png");
  scroll-margin-top: 100px;
  background-size: 100%;
  background-position: center;
  background-repeat: repeat;
}

#homenageado {
  scroll-margin-top: 100px;
  background-image: url("../public/BGAZULESC.png");
  background-size: 100%;
  background-position: center;
  background-repeat: repeat;
}

#mapa {
  scroll-margin-top: 70px;
  background: url("../public/PADRÃOVERMELHO.png");
  background-position: center;
  background-repeat: repeat;
}

#patrocinio {
  background-color: whitesmoke;
}


@media (max-width: 991px) {
  .container-video {
    height: 50vh;
  }
  .m-container-palcos-serra {
    background-repeat: repeat;  /* Substitua pelo nome da imagem menor */
  }

  .m-container-palcos-cidade {
    background-repeat: repeat;  /* Substitua pelo nome da imagem menor */
  }

  .m-titulo-secao-maior {
    display: none;
  }

  .m-titulo-secao-menor {
    display: inline-block;
  }

  .m-apresentacao-botao {
    font-size: 1rem;
    text-align: center;
  }
  .logo-baile {
    width: 20rem;
    height: 8rem;
  }
  .bg-hero-marca {
   
    width: 20rem;
    height: auto;
    position: absolute;
    filter: drop-shadow(0px 0px 3px black);
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 100px));

    
  }
  #apresentacao{
        background-size: 200%;
        background-repeat: no-repeat;
      
    }

}


@keyframes animacao-logo-hero {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-tabs {
  border: none !important;
}

.nav-link:not(.active) {
  opacity: 0.8;
}

.nav-link.active {
  opacity: 1;
}

.divisoria {
  width: 100%;
  height: 1rem;
  background-image: url("/faixa-laranja.png");
  background-position: center;
  background-size: contain;
  filter: drop-shadow(0px 0px 3px black);
}

.divisoria-azul {
  width: 100%;
  height: 1rem;
  background-image: url("/faixa.png");
  background-position: center;
  background-size: contain;
  filter: drop-shadow(0px 0px 3px black);
}

.divisoria-roxo {
  width: 100%;
  height: 1rem;
  background-image: url("/faixa-roxo.png");
  background-position: center;
  background-size: contain;
  filter: drop-shadow(0px 0px 3px black);
}

.divisoria-laranja {
  width: 100%;
  height: 1rem;
  background-image: url("/faixa-laranja.png");
  background-position: center;
  background-size: contain;
  filter: drop-shadow(0px 0px 3px black);
}

.container-programacao{
  height: auto;
  width: auto;
}