#servicos-uteis {
    scroll-margin-top: 100px;
    margin-top: 80px;
    font-family: var(--fonte-apoio);
    background-image: url("../public/BGAMARELO.png");
    background-repeat: no-repeat; /* Impede repetição */
    background-size: cover; /* Ocupa toda a página */
    background-position: center; /* Centraliza a imagem */ /* Altura da página, respeitando cabeçalho e rodapé */
    display: flex; /* Garante que o conteúdo centralize corretamente */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; /* Espaçamento superior e inferior */
    min-height: 100vh;
}

.container-servico {
    margin-top: 1rem;
    background-color: rgba(245, 130, 31, 0.8); /* Fundo com opacidade */

    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    max-width: 900px; /* Limita a largura máxima dos containers */
    backdrop-filter: blur(10px); /* Adiciona o blur no fundo */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para destaque */
    color: #fff; /* Garante contraste do texto */
}

.nome-servico {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.texto-servico {
    text-align: justify;
    line-height: 1.6; /* Melhora a leitura */
    color: black;
}

ul {
    padding-left: 1rem; /* Espaçamento para as listas */
}

ul li {
    margin-bottom: 0.5rem; /* Espaçamento entre itens */
    font-weight: bold;
}
